/* primary-color : #0065fc */

/* remove underline from link */
a {
    text-decoration: none;
}

/* HEADER */

header {
    display: grid;
    margin-top: 20px;
}

header > .logo {
    grid-column: 1;
    grid-row: 1;
    margin-left: 15px;
    margin-right: auto;
}

header > .connexion {
    grid-column: 2;
    grid-row: 1;
    margin-right: 15px;
    margin-left: auto;
}

header > .menu {
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}

header > .menu.left {
    grid-row: 2;
    grid-column: 1;
}

header > .menu.right {
    grid-row: 2;
    grid-column: 2;
}

header > a {
    color: #0065fc;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
}